@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p class="mt-3">Letters entered into WordleAssistant are stored in your browser's local history.  This app doesn't sell your information.</p>
<p>The source code for this app can be found on <a href="https://github.com/joakes0797/WordAssistantSlim" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
<p>For more on what information is collected by Microsoft Azure, visit <a href="https://azure.microsoft.com/en-us/privacy-data-management/" target="_blank" rel="noopener noreferrer">Azure's Privacy Statement</a>.</p>
